.img{
    width: 100%;
}

.card-component{
    width: 20rem;
    border: 1px solid grey;
    margin: 5px;
    justify-content: center;
}
.card-component, h4{
    color: skyblue
}

.res-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}